{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
<style>
    .border-table {
        width: 100%;
        border-collapse: collapse;
    }

    .equal-width {
        width: 14.28%;
        /* Chaque cellule prend une portion égale (7 colonnes = 100% / 7) */
    }

    .td3 {
        height: 20px;
    }

    .td3 {

        vertical-align: middle;
        height: 15px;
    }

    .td2 {
        border: 1px solid black;
        text-align: center;

    }



    .bord-ri {
        border: 1px solid black;
    }
</style>





<table class="center-table">
    <tr>

        <td style="width: 50%; vertical-align: top; padding: 0;">
            <div style="margin-top: 0; padding-top: 0;">
                <p class="text-xs-custom">1 - Expéditeur (Nom, Adresse, Pays)</p>
                <p class="text-xs-custom">Sender (Name, Address, Country)</p>
            </div>
            <p class="texte-center">GXO-ZALANDO</p>
        </td>


        <td style="width: 50%;">
            <p class="texte-center ">LETTRE DE VOITURE INTERNATIONALE</p>
            <p class="texte-center ">CMR</p>
        </td>




    </tr>
    <tr>
        <td style="width: 50%; vertical-align: top; padding: 0;">
            <div style="margin-top: 0; padding-top: 0;">
                <p class="text-xs-custom">2 - Destinataire (Nom, Adresse, Pays)</p>
                <p class="text-xs-custom">Consigne (Name, Address, Country)</p>
            </div>
            <p class="texte-2xl texte-center"> Mondial-Relay</p>
        </td>
        <td style="width: 50%; vertical-align: top; padding: 0;" rowspan="2">
            <div style="margin-top: 0; padding-top: 0;">
                <p class="text-xs-custom">16 - Destinataire (Nom, Adresse, Pays)</p>
                <p class="text-xs-custom">Consigne (Name, Address, Country)</p>
            </div>
            <div style="padding: 0;">
                <p class="texte-xs fontbold texte-center" style="margin: 0; padding: 0;">OLT</p>
                <p class="text-xs fontbold texte-center" style="margin: 0; padding: 0;">A5-3 Reau</p>
                <p class="text-xs fontbold texte-center" style="margin: 0; padding: 0;">France</p>
            </div>

            <div style="margin-bottom: 10px;">
                <p class="text-xs-custom">17 - Destinataire (Nom, Adresse, Pays)</p>
                <p class="text-xs-custom">Consigne (Name, Address, Country)</p>
            </div>

        </td>

    </tr>
    <tr>


        <td style="width: 50%; vertical-align: top; padding: 0;">
            <div style="margin-top: 0; padding-top: 0;">
                <p class="text-xs-custom">3 - Lieu prévue pour la livraison (Lieu, Pays)</p>
                <p class="text-xs-custom">Place of delivery of the goods (place, Country)</p>
            </div>
        </td>

    </tr>
    <tr>

        <td style="width: 50%; vertical-align: top; padding: 0;">
            <div style="margin-top: 0; padding-top: 0;">
                <p class="text-xs-custom">4 - Lieu et date de la prise en charge de la marchandise (Lieu, Pays,
                    date)</p>
                <p class="text-xs-custom">Place and date of taking over the goods (place, country, date)</p>
            </div>
            <p class="texte-center texte-xl fontbold">Montereau-sur- le jard</p>
        </td>
        <td style="width: 50%; vertical-align: top; padding: 0;" rowspan="2">
            <div style="margin-top: 0; padding-top: 0;">
                <p class="text-xs-custom">18 - Reserves et observations du transporteur</p>
                <p class="text-xs-custom">Carriers reservations and observations</p>
            </div>

        </td>


    </tr>
    <tr>
        <td style="width: 50%; vertical-align: top; padding: 0;">
            <div style="margin-top: 0; padding-top: 0;">
                <p class="text-xs-custom">5 - Documents annexés</p>
                <p class="text-xs-custom">Documents attached</p>
            </div>
            <p class="texte-xs fontbold texte-center">
                Heure d'arriver:
                14/14
            </p>
            <p class="texte-xs fontbold texte-center">
                Heure de départ:
                16:15
            </p>

        </td>

    </tr>








</table>
<table class="border-table">
    <!-- Ligne fusionnée avec 6, 7, 8, 9, 10, 11 et Cubage -->
    <tr>
        <td class="border-black equal-width td2 " colspan="4" style="height: 50px;">
            <p class="text-xs-custom">6-Marque et numéro</p>
            <p class="text-xs-custom">Documents attached</p>
            <p class="text-xs font-bold">1233/233</p>
        </td>
        <td class="border-black equal-width td2" style="height: 50px;">
            <p class="text-xs-custom">7-Nombre de colis</p>
            <p class="text-xs-custom">Number of packages</p>
            <p class="text-xs font-bold text-center">
                1223
            </p>
        </td>
        <td class="border-black equal-width td2" style="height: 50px;">
            <p class="text-xs-custom">8-Mode d'emballage</p>
            <p class="text-xs-custom">Method of packing</p>
            <p class="text-xs font-bold">

                Collis/Parcel

            </p>
        </td>
        <td class="equal-width td2" style="height: 50px;">
            <p class="text-xs-custom">9-Nature de la Marchandise</p>
            <p class="text-xs-custom">Nature of the goods</p>
            <p class="text-xs font-bold">Mixed<br>(Shoes/Textile)</p>
        </td>
        <td class=" equal-width td2" style="height: 50px;">
            <p class="text-xs-custom">10-No Statistique</p>
            <p class="text-xs-custom">Statistical number</p>
        </td>
        <td class=" equal-width td2 " style="height: 50px;">
            <p class="text-xs-custom">11-Poids brut kg</p>
            <p class="text-xs-custom">Gross weight in kg</p>
        </td>
        <td class=" equal-width td2" style="height: 50px;">
            <p class="text-xs-custom">Cubage m³</p>
            <p class="text-xs-custom">Volume in m³</p>
        </td>
    </tr>


</table>
<table class="border-table">
    <!-- Première ligne : 4 colonnes -->
    <tr>
        <td class="border-black td3" style="height: 15px;">
            <p class="text-xs-custom">Classe</p>
            <p class="text-xs-custom">Class</p>
        </td>
        <td class="border-black td3" style="height: 15px;">
            <p class="text-xs-custom">Chiffre</p>
            <p class="text-xs-custom">Number</p>
        </td>
        <td class="border-black td3" style="height: 15px;">
            <p class="text-xs-custom">Lettre</p>
            <p class="text-xs-custom">Letter</p>
        </td>
        <td class="border-black td3" style="height: 15px;">
            <p class="text-xs-custom">(ADR*)</p>
        </td>
    </tr>


    <!-- Deuxième ligne : 3 colonnes -->

</table>



{% endblock %}